{% extends "layout.html" %} {% block body %}
<div class="container">
    <div class="jumbotron text-center">
        <h1>Done.</h1>
        <p class="lead">Simple rooms for teachers to see how many students are ready to move on with the lecture.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="text-center">Teachers</h4>
                <p class="text-left">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quos alias mollitia esse nostrum consequatur repellendus,
                    autem id beatae. Pariatur praesentium assumenda autem error distinctio culpa hic magni eum consequuntur.
                </p>

            </div>
            <div class="col-sm-6">
                <h4 class="text-center">Students</h4>
                <p class="text-left">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quos alias mollitia esse nostrum consequatur repellendus,
                    autem id beatae. Pariatur praesentium assumenda autem error distinctio culpa hic magni eum consequuntur.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}